<!DOCTYPE html>
<html>
<head>
  <title>Erp core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

</head>
<body class="min-h-screen bg-gradient-to-br from-orange-50 via-white to-orange-100">
  
<% flash.each do |key, message| %>
  <div class="flash <%= key %>">
    <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
